/* CSS declarations go here */
body {
  background: white;
  max-width:1600px;
  margin:auto;
}

.ec-board {
  border: 1px solid black;
}

.ec-main-body {
  margin: auto;
}

.ec-box-content {
  position: absolute;
  left: 56px;
}

.ec-main-buttons {
  text-align:center;
}

.ec-hour-box {
  background: lightgreen;
  margin-top: -16pt;
  padding-left: 6px;
  line-height: 4pt;
}

.ec-no-link {
  text-decoration:none;
  color: black;
}

.ec-no-link:hover {
  text-decoration:none;
  cursor: pointer;
  color: #333;
}